@import "../../../scss/index";

.tabs-contact{
  display: flex !important;
  .btn.btn-primary{
    background-color: transparent !important;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid $border-grey;
    padding: 15px 0;
    border-radius: 0;

    &:hover{
      background-color: rgba(29, 161, 242, 0.1) !important;
    }
    &.active{
      border-bottom: 3px solid $primary !important;
    }
  }
}