@import "../../../scss/index";

.tweets{
  h3{
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid $border-grey;
  }

  button{
    margin-top: 10px;
    border-radius: 50px;
    background-color: $background-dark-light !important;
    width: 100%;
    border: 0 !important;
    &:hover{
      background-color: transparent !important;
      color: $primary;
    }
  }

  &__loading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    >div{
      margin-bottom: 10px;
    }
  }
}