@import "../../../scss/index";

.sign-up-form{
  h2{
    font-weight: bold;
    padding-bottom: 30px;
  }

  .form-control{
    margin-bottom: 25px;
    font-size: 25px;
  }
}

button{
  width: 100%;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 10px !important;
  border-radius: 50px !important;
  margin-top: 20px !important;
}