@import "../../../../scss/index";

form{
  textarea{
    background-color: $background-grey-dark !important;
    border: 0 !important;
    font-size: 20px !important;
    color: $font-light !important;
    padding: 10px 20px !important;
    resize: none !important;
    *:focus{
      box-shadow: none !important;
    }
  }

  .counter{
    margin: 20px !important;
    &.danger{
        color: $danger;
    }
  }

  button{
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 19px;
    margin-top: 10px;
  }
}